/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
  /* background-image: url(./images/main-bg.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
  background: black;
  overflow-x: hidden;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

:root {
  --navbar-height: 80px;
}

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* primary header */

.logo {
  font-size: 1.5rem;
  margin: 1.5rem;
  background: rgba(118, 117, 117, 0.4);
  backdrop-filter: blur(0.4rem);
  padding-inline: 1rem;
  -webkit-box-shadow: 1px 10px 34px 3px rgba(134, 4, 100, 0.5);
  -moz-box-shadow: 1px 10px 34px 3px rgba(134, 4, 100, 0.5);
  box-shadow: 1px 10px 34px 3px rgba(134, 4, 100, 0.5);
}

.logo-text-small {
  font-size: 1rem;
  padding: 0.5rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 999;
  position: sticky;
  top: 0;
  margin-right: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(118, 117, 117, 0.4);
  backdrop-filter: blur(0.4rem);
  z-index: 999;
  padding: 1rem;
  font-size: 1.15rem;
  -webkit-box-shadow: 1px 10px 34px 11px rgba(134, 4, 100, 0.5);
  -moz-box-shadow: 1px 10px 34px 11px rgba(134, 4, 100, 0.5);
  box-shadow: 1px 10px 34px 11px rgba(134, 4, 100, 0.5);
}

@supports (backdrop-filter: blur(0.4rem)) {
  .primary-navigation {
    background: rgba(118, 117, 117, 0.4);
    backdrop-filter: blur(0.4rem);
  }
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a:hover {
  color: rgb(205, 8, 153);
}

.primary-navigation a > span {
  font-weight: 900;
  margin-inline-end: 0.3em;
}

/* main content */

.container {
  background: url(./images/main-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  height: calc(100dvh - var(--navbar-height));
}

.main-one-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 3rem;
  color: white;
}

.main-one-right > p {
  font-size: 3rem;
}

.bold-text {
  font-weight: bold;
}

.main-one-left img {
  width: 100%;
  height: 90%;
  max-width: 100%;
}

.main-one-right span {
  font-size: 2.5rem;
  color: white;
}

.main-one-right-bold {
  font-weight: 900;
}

.book-button {
  padding: 1rem;
  border: 1px solid white;
  color: white;
  font-size: large;
  background-color: black;
}
.book-button:hover {
  color: white;
  border: solid 1px white;
  background-color: rgb(134, 4, 100);
}

.container-two {
  height: 100dvh;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  transform: translateY(50px);
  transition: all 2s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.grid-item-top {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.grid-item {
  border: 1px solid white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  scale: 1.03;
  transition: all 0.4s linear;
  cursor: default;
}

.grid-item > p {
  padding: 0.5rem;
}

.heart-icon {
  font-size: 2.5rem;
  color: rgb(134, 4, 100);
}

.container-three {
  width: min(1110px, 100%);
  margin: 0 auto;
  margin-top: 2rem;
  columns: 3 250px;
  column-gap: 1rem;
}

.item-column {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid white;
}

.container-four-full {
  width: 100%;
  background-color: white;
}

.container-four {
  width: min(1110px, 100%);
  margin: 0 auto;
  color: black;
  display: grid;
  gap: 1.5rem;
  margin-top: 5rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.container-price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  align-items: stretch;
  padding-top: 1rem;
}

.cijena-item {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.price-text {
  padding-block-start: 1rem;
  padding-block-end: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.cijena-bold {
  font-size: 3.5rem;

  color: rgb(134, 4, 100);
  text-align: center;
}

.bold-naslov {
  color: rgb(134, 4, 100);
  font-size: 2rem;
}

.bold-iban {
  font-weight: bold;
  font-size: 1.1rem;
}

.payment-logo {
  color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.info-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 1s ease-out;
}

.info-animate.show {
  opacity: 1;
  transform: translateY(0);
}

.footer-full {
  background-color: black;
}

.container-footer {
  width: min(1110px, 100%);
  margin: 0 auto;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.footer-item:hover {
  color: rgb(134, 4, 100);
}

.container-footer-white {
  width: min(1110px, 100%);
  margin: 0 auto;
  color: black;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.footer-full-white {
  background-color: white;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.footer-social > li > a:hover {
  color: rgb(134, 4, 100);
}

/* Contact section  */

.container-contact {
  width: min(1110px, 100%);
  height: 100dvh;
  margin: 0 auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  align-items: center;
}

.contact-info-container > h3 {
  display: flex;
  margin: 2rem;
}

.contact-button {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
}

.contact-button:hover {
  color: rgb(134, 4, 100);
}

.image-stack {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 500px; /* Set the height to fit the image size */
  scale: 1;
  overflow: hidden;
}

.image-stack img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 20s infinite;
}

.image-stack img:nth-child(1) {
  animation-delay: 0.2s;
}

.image-stack img:nth-child(2) {
  animation-delay: 5s;
}

.image-stack img:nth-child(3) {
  animation-delay: 9s;
}

.image-stack img:nth-child(4) {
  animation-delay: 13s;
}

.image-stack img:nth-child(5) {
  animation-delay: 17s;
}

/* Animation for fading effect */
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  /* header */

  .logo {
    margin: 1.5rem;
    background: rgba(118, 117, 117, 0.4);
    backdrop-filter: blur(0.4rem);
  }

  .primary-navigation {
    gap: 2em;
    position: fixed;
    inset: 0 0 0 35%;
    z-index: 1000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    box-shadow: none;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    color: white;
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url("./images/menu-hamburger.svg");
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2.8rem;
    right: 2rem;
    cursor: pointer;
    filter: invert(60%);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./images/close-hamburger.svg);
  }

  /* main content */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100dvh;
  }
  .main-one-left {
    display: none;
  }

  .book-button {
    font-size: 0.7rem;
  }

  .container-two {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .grid-item-top {
    grid-column: span 1;
    font-size: 1.5rem;
  }

  .grid-item {
    font-size: 0.9rem;
  }

  .container-three {
    margin-top: 2rem;
    columns: 2 150px;
    column-gap: 1rem;
    padding: 1rem;
  }

  .container-four {
    padding: 1rem;
  }

  .container-price {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .container-contact {
    display: grid;
    grid-template-columns: 1fr;
  }
}
