/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
  /* background-image: url(./images/main-bg.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
  background: black;
  font-size: 1.05rem;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

:root {
  --navbar-height: 80px;
}

/* general */
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

/* primary header */

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  margin-left: 2rem;
}

.logo-small-text {
  color: white;
  margin-left: 2rem;
}

.nav-item {
  font-size: 1.5rem;
  margin-inline-end: 2rem;
  padding: 0.4rem;
  color: white;
}

.nav-item:hover {
  background-color: rgb(134, 4, 100);
  transition: all 0.2s ease-out;
  border-radius: 5px;
}

.book-nav {
  font-size: 1.5rem;
  margin-inline-end: 2rem;
  padding: 0.4rem;
  color: white;
  background-color: rgb(134, 4, 100);
  border-radius: 5px;
}

.book-nav:hover {
  background-color: rgb(134, 4, 100);
  color: white;
  cursor: pointer;
}

.social {
  font-size: 1.5rem;
  margin-inline-end: 2rem;
  border: 1px solid white;
  padding: 0.4rem;
  color: white;
}

.social:hover {
  background-color: rgb(134, 4, 100);
  color: white;
  transition: all 0.2s ease-out;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  background: rgba(8, 8, 8, 0.5);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(163, 5, 121, 0.15);
}

.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  height: var(--navbar-height);
  align-items: center;
}

.container {
  background: url(./images/main-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding: 3rem;
  height: calc(100dvh - var(--navbar-height));
}

.main-one-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4rem;
  gap: 3rem;
}

.main-one-left img {
  width: 100%;
  height: auto;
  max-width: 100%;
  filter: grayscale(100%);
}

.main-one-right span {
  font-size: 2.5rem;
  color: white;
}

.main-one-right-bold {
  font-weight: 900;
}

.book-button {
  padding: 1rem;
  border: 1px solid white;
  color: white;
  font-size: large;
  background-color: black;
}
.book-button:hover {
  color: white;
  border: solid 1px white;
  background-color: rgb(134, 4, 100);
}

.container-two {
  height: 100dvh;
  background-color: rgb(3, 3, 3);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  transform: translateY(50px);
  transition: all 2s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.grid-item-top {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.grid-item {
  border: 1px solid white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  scale: 1.03;
  transition: all 0.4s linear;
  cursor: default;
}

.grid-item > p {
  padding: 0.5rem;
}

.heart-icon {
  font-size: 2.5rem;
  color: rgb(134, 4, 100);
}

.container-three {
  width: min(1110px, 100%);
  margin: 0 auto;
  margin-top: 2rem;
  columns: 3 250px;
  column-gap: 1rem;
}

.item-column {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid white;
}

.container-four-full {
  width: 100%;
  background-color: white;
}

.container-four {
  width: min(1110px, 100%);
  margin: 0 auto;
  color: black;
  display: grid;
  gap: 1.5rem;
  margin-top: 5rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.container-price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  align-items: stretch;
  padding-top: 1rem;
}

.cijena-item {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.price-text {
  padding-block-start: 1rem;
  padding-block-end: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.cijena-bold {
  font-size: 3.5rem;

  color: rgb(134, 4, 100);
  text-align: center;
}

.bold-naslov {
  color: rgb(134, 4, 100);
  font-size: 2rem;
}

.bold-iban {
  font-weight: bold;
  font-size: 1.1rem;
}

.payment-logo {
  color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.info-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 1s ease-out;
}

.info-animate.show {
  opacity: 1;
  transform: translateY(0); /* Bring it to the final position */
}

.footer-full {
  background-color: black;
}

.container-footer {
  width: min(1110px, 100%);
  margin: 0 auto;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.footer-social > li > a:hover {
  color: rgb(134, 4, 100);
}

/* Contact form  */

.container-contact {
  width: min(1110px, 100%);
  margin: 0 auto;
  color: white;
}

@media only screen and (max-width: 600px) {
}
